@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

#root {
  display: flex;
}

.container {
  width: 1400px;
  height: 80vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 80px auto;
  background: white;
  border-radius: 50px;
  opacity: 0.93;
}

h1 {
  font-family: 'Koulen', cursive;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-top: 30px; 
  border-bottom: 5px dotted black;
}

main {
  background-color: #e2e1e1;
  border-radius: 20px;
  margin: 30px;
}

.country-search {
  padding: 30px; 
  border-bottom: 3px dotted black;
}

.country-search #submit #input-country,
.country-search #submit #search-btn {
  padding: 5px; 
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.country-search #submit #input-country {
  width: 600px;
  font-size: 16px;
  font-family: inherit;
}

.country-search #submit #search-btn {
  cursor: pointer;
  font-size: 15.5px;
  margin-left: 5px;
}

.country-search #submit #input-country:focus,
.country-search #submit #search-btn:focus {
  outline: none;
}

.country-information {
  padding: 30px; 
}