@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

#root {
  display: flex;
}

.container {
  width: 1400px;
  height: 80vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 80px auto;
  background: white;
  border-radius: 50px;
  opacity: 0.93;
}

h1 {
  font-family: 'Koulen', cursive;
  font-size: 100px;
  letter-spacing: 8px;
  margin-top: 30px; 
  border-bottom: 5px dotted black;
}

h2 {
  font-family: 'Koulen', cursive;
  font-size: 50px;
  letter-spacing: 6px;
  margin: -25px 0 -10px 0;
}

h3 {
  letter-spacing: 4px;
}

main {
  background-color: #e2e1e1;
  border-radius: 20px;
  margin: 30px;
}

.country-search {
  padding: 30px; 
}

.country-search #input-country {
  width: 600px;
  font-family: inherit;
  font-size: 16px;
  color: black;
  padding: 5px; 
  border: 1px solid black;
  border-radius: 5px;
}

.country-search .alert {
  padding: 5px; 
  margin-top: 10px; 
  color: white; 
  background-color: darkblue;
  border-radius: 5px;
}

.country-search #input-country:focus {
  outline: none;
}

.country-information {
  padding: 30px; 
  border-top: 3px dotted black;
}

.country-information img {
  width: 8%;
  height: 8%;
  margin-bottom: 10px;
}

.country-information .region-and-subregion {
  letter-spacing: 2px;
  margin-top: -10px;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

/* utility classes */
.hide {
  display: none; 
}